<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.dd.common.mapper.sport.BaskItemMapper">

    <select id="getPage" resultType="com.cp.dd.common.vo.sport.BaskItemVO">
        SELECT i.*,s.`name` sportName
        FROM bask_item i
        LEFT JOIN sport s on i.sport_id = s.id
        <where>
            <if test="childName != null">
                AND i.`name` like concat('%',#{childName},'%')
            </if>
            <if test="parentName != null">
                AND i.parent_name like concat('%',#{parentName},'%')
            </if>
            <if test="createBy != null">
                AND i.create_by  like concat('%',#{createBy},'%')
            </if>
            <if test="phone != null">
                AND i.phone = #{phone}
            </if>
            <if test="name != null">
                AND s.`name`   = #{name}
            </if>
            <if test="areaId != null">
                AND  s.area_id = #{areaId}
            </if>
            and i.state = 1
        </where>
        ORDER BY i.create_time DESC
    </select>

    <select id="getDataPage" resultType="com.cp.dd.common.vo.sport.BaskItemVO">
        SELECT i.*,s.`name` sportName
         FROM bask_item i
        LEFT JOIN sport s on i.sport_id = s.id
        <where>
            <if test="childName != null">
                AND i.`name` like concat('%',#{childName},'%')
            </if>
            <if test="createBy != null">
                AND i.create_by  like concat('%',#{createBy},'%')
            </if>
            <if test="phone != null">
                AND i.phone = #{phone}
            </if>
            <if test="name != null">
                AND s.`name`   = #{name}
            </if>
            <if test="areaId != null">
                AND  s.area_id = #{areaId}
            </if>
            and i.state = 1
        </where>
        ORDER BY ${orderBy}
    </select>

    <select id="getDataList" resultType="com.cp.dd.common.vo.sport.BaskItemVO">
        SELECT i.*,s.`name` sportName
        FROM bask_item i
        LEFT JOIN sport s on i.sport_id = s.id
        <where>
            <if test="childName != null">
                AND i.`name` like concat('%',#{childName},'%')
            </if>
            <if test="createBy != null">
                AND i.create_by  like concat('%',#{createBy},'%')
            </if>
            <if test="phone != null">
                AND i.phone = #{phone}
            </if>
            <if test="name != null">
                AND s.`name`   = #{name}
            </if>
            <if test="areaId != null">
                AND  s.area_id = #{areaId}
            </if>
            and i.state = 1
        </where>
        ORDER BY ${orderBy}
    </select>

    <select id="getData" resultType="com.cp.dd.common.vo.sport.BaskItemVO">
        SELECT i.*,s.`name` sportName
        FROM bask_item i
        LEFT JOIN sport s on i.sport_id = s.id
        <where>
            <if test="childName != null and childName !='' ">
                AND i.`name` = #{childName}
            </if>
            <if test="parentName != null and parentName !='' ">
                AND i.parent_name = #{parentName}
            </if>
            <if test="phone != null">
                AND i.phone = #{phone}
            </if>
            <if test="sportId != null">
                AND i.sport_id  = #{sportId}
            </if>
            and i.state = 1
        </where>
        ORDER BY  i.create_time desc
    </select>

    <select id="detail" resultType="com.cp.dd.common.vo.sport.BaskItemVO">
        SELECT i.*,s.`name` sportName
         FROM bask_item i
        LEFT JOIN sport s on i.sport_id = s.id
      where i.id = #{id}
       and i.state = 1
    </select>



    <select id="countTotal" resultType="com.cp.dd.common.vo.sport.CountVO">

        SELECT
        a.nan nanHg,
        b.nv nvHg,
        c.nanTotal nanTotal,
        d.nvTotal nvTotal
        FROM
        (
        (
        SELECT
        count( 1 ) AS nan
        FROM
        bask_item i
        <where>
            and (
            i.bat_score + i.pass_score + i.shoot_score + i.ds_dribble_score + i.rall_score
            ) >= 16
            AND i.state = 1
            AND i.sex = 1
            <if test="start != null  ">
                AND i.age <![CDATA[  >=  ]]> #{start}
            </if>
            <if test="end != null  ">
                AND i.age <![CDATA[  <=  ]]> #{end}
            </if>
        </where>
        ) a,
        (
        SELECT
        count( 1 ) AS nv
        FROM
        bask_item i
        <where>

            and (
            i.bat_score + i.pass_score + i.shoot_score + i.ds_dribble_score + i.rall_score
            ) >= 16
            AND i.state = 1
            AND i.sex = 2
            <if test="start != null  ">
                AND i.age <![CDATA[  >=  ]]> #{start}
            </if>
            <if test="end != null  ">
                AND i.age <![CDATA[  <=  ]]> #{end}
            </if>
        </where>
        ) b,
        ( SELECT count( 1 ) AS nanTotal FROM bask_item i <where> and i.state = 1 AND i.sex = 1
        <if test="start != null  ">
            AND i.age <![CDATA[  >=  ]]> #{start}
        </if>
        <if test="end != null  ">
            AND i.age <![CDATA[  <=  ]]> #{end}
        </if>
    </where>
        ) c,
        ( SELECT count( 1 ) AS nvTotal FROM bask_item i <where> and i.state = 1 AND i.sex = 2
        <if test="start != null  ">
            AND i.age <![CDATA[  >=  ]]> #{start}
        </if>
        <if test="end != null  ">
            AND i.age <![CDATA[  <=  ]]> #{end}
        </if>
    </where>
        ) d
        )
    </select>




    <select id="countMonth" resultType="com.cp.dd.common.vo.sport.MonthVO">

                SELECT
            xy.Jan xyJan,xy.Feb xyFeb,xy.Mar xyMar,xy.Apr xyApr,xy.May xyMay,xy.June xyJune,
            xy.July xyJuly,xy.Aug xyAug,xy.Sept xySept,xy.Oct xyOct,xy.Nov xyNov,xy.Dece xyDece,
            fxy.Jan fJan,fxy.Feb fFeb,fxy.Mar fMar,fxy.Apr fApr,fxy.May fMay,fxy.June fJune,
            fxy.July fJuly,fxy.Aug fAug,fxy.Sept fSept,fxy.Oct fOct,fxy.Nov fNov,fxy.Dece fDece
        FROM
            (
            (
        SELECT
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '1' THEN 1 ELSE 0 END ), 0 ) AS Jan,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '2' THEN 1 ELSE 0 END ), 0 ) AS Feb,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '3' THEN 1 ELSE 0 END ), 0 ) AS Mar,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '4' THEN 1 ELSE 0 END ), 0 ) AS Apr,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '5' THEN 1 ELSE 0 END ), 0 ) AS May,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '6' THEN 1 ELSE 0 END ), 0 ) AS June,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '7' THEN 1 ELSE 0 END ), 0 ) AS July,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '8' THEN 1 ELSE 0 END ), 0 ) AS Aug,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '9' THEN 1 ELSE 0 END ), 0 ) AS Sept,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '10' THEN 1 ELSE 0 END ), 0 ) AS Oct,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '11' THEN 1 ELSE 0 END ), 0 ) AS Nov,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '12' THEN 1 ELSE 0 END ), 0 ) AS Dece
        FROM
            bask_item
        WHERE
            YEAR ( create_time ) = '2020'
            AND state = 1
            AND xy_type = '华蒙星学员'
            ) xy,
            (
        SELECT
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '1' THEN 1 ELSE 0 END ), 0 ) AS Jan,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '2' THEN 1 ELSE 0 END ), 0 ) AS Feb,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '3' THEN 1 ELSE 0 END ), 0 ) AS Mar,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '4' THEN 1 ELSE 0 END ), 0 ) AS Apr,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '5' THEN 1 ELSE 0 END ), 0 ) AS May,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '6' THEN 1 ELSE 0 END ), 0 ) AS June,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '7' THEN 1 ELSE 0 END ), 0 ) AS July,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '8' THEN 1 ELSE 0 END ), 0 ) AS Aug,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '9' THEN 1 ELSE 0 END ), 0 ) AS Sept,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '10' THEN 1 ELSE 0 END ), 0 ) AS Oct,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '11' THEN 1 ELSE 0 END ), 0 ) AS Nov,
            IFNULL( sum( CASE MONTH ( create_time ) WHEN '12' THEN 1 ELSE 0 END ), 0 ) AS Dece
        FROM
            bask_item
        WHERE
            YEAR ( create_time ) = #{year}
            AND state = 1
            AND xy_type = '非学员'
            ) fxy
            )

    </select>





</mapper>
