<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.dd.common.mapper.sys.SysDictMapper">

    <select id="selectSysDictByCode" resultType="com.cp.dd.common.entity.sys.SysDict">
        select * from sys_dict where is_deleted = 0 and parent_id &lt;&gt; 0 and code = #{code} order by sort
    </select>
</mapper>
