<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.dd.common.mapper.sport.XxItemMapper">

    <select id="getPage" resultType="com.cp.dd.common.vo.sport.XxItemVO">
        SELECT i.*,s.`name` sportName,
        ( i.height_score + i.ibm_score + i.fei_hl_score + i.tiaos_score + i.sensitive_score + i.flexibility_score ) total
        FROM xx_item i
        LEFT JOIN sport s on i.sport_id = s.id
        <where>
            <if test="childName != null">
                AND i.`name` like concat('%',#{childName},'%')
            </if>
            <if test="parentName != null">
                AND i.parent_name like concat('%',#{parentName},'%')
            </if>
            <if test="createBy != null">
                AND i.create_by  like concat('%',#{createBy},'%')
            </if>
            <if test="phone != null">
                AND i.phone = #{phone}
            </if>
            <if test="name != null">
                AND s.`name`   = #{name}
            </if>
            <if test="areaId != null">
                AND  s.area_id = #{areaId}
            </if>
            and i.state = 1
        </where>
        ORDER BY i.create_time DESC
    </select>

    <select id="getDataPage" resultType="com.cp.dd.common.vo.sport.XxItemVO">
        SELECT i.*,s.`name` sportName,
        ( i.height_score + i.ibm_score + i.fei_hl_score + i.tiaos_score + i.sensitive_score + i.flexibility_score ) total
        FROM xx_item i
        LEFT JOIN sport s on i.sport_id = s.id
        <where>
            <if test="childName != null">
                AND i.`name` like concat('%',#{childName},'%')
            </if>
            <if test="createBy != null">
                AND i.create_by  like concat('%',#{createBy},'%')
            </if>
            <if test="phone != null">
                AND i.phone = #{phone}
            </if>
            <if test="name != null">
                AND s.`name`   = #{name}
            </if>
            <if test="areaId != null">
                AND  s.area_id = #{areaId}
            </if>
            and i.state = 1
        </where>
        ORDER BY ${orderBy}
    </select>

    <select id="getDataList" resultType="com.cp.dd.common.vo.sport.XxItemVO">
        SELECT i.*,s.`name` sportName,
        ( i.height_score + i.ibm_score + i.fei_hl_score + i.tiaos_score + i.sensitive_score + i.flexibility_score ) total
        FROM xx_item i
        LEFT JOIN sport s on i.sport_id = s.id
        <where>
            <if test="childName != null">
                AND i.`name` like concat('%',#{childName},'%')
            </if>
            <if test="createBy != null">
                AND i.create_by  like concat('%',#{createBy},'%')
            </if>
            <if test="phone != null">
                AND i.phone = #{phone}
            </if>
            <if test="name != null">
                AND s.`name`   = #{name}
            </if>
            <if test="areaId != null">
                AND  s.area_id = #{areaId}
            </if>
            and i.state = 1
        </where>
        ORDER BY ${orderBy}
    </select>

    <select id="getData" resultType="com.cp.dd.common.vo.sport.XxItemVO">
        SELECT i.*,s.`name` sportName,
        ( i.height_score + i.ibm_score + i.fei_hl_score + i.tiaos_score + i.sensitive_score + i.flexibility_score ) total
        FROM xx_item i
        LEFT JOIN sport s on i.sport_id = s.id
        <where>
            <if test="childName != null">
                AND i.`name` like concat('%',#{childName},'%')
            </if>

            <if test="phone != null">
                AND i.phone = #{phone}
            </if>
            <if test="sportId != null">
                AND i.sport_id  = #{sportId}
            </if>
            and i.state = 1
        </where>
        ORDER BY  i.create_time desc
    </select>

    <select id="detail" resultType="com.cp.dd.common.vo.sport.XxItemVO">
        SELECT i.*,s.`name` sportName,
         ( i.height_score + i.ibm_score + i.fei_hl_score + i.tiaos_score + i.sensitive_score + i.flexibility_score ) total
         FROM xx_item i
        LEFT JOIN sport s on i.sport_id = s.id
      where i.id = #{id}
       and i.state = 1
    </select>


    <select id="getItemCount" resultType="com.cp.dd.common.vo.sport.XxItemCountVO">


            SELECT nan.nan nanTotal,nv.nv  nvTotal,nanHg.`nan` nanHeightHg,nvHg.nv nvHeightHg,
            nanFhl.`nan` nanFeiHlHg, nvFhl.nv nvFeiHlHg,nanTs.`nan` nanTiaosHg, nvTs.nv nvTiaosHg,
            nanFle.`nan` nanFlexibilityHg , nvFle.nv nvFlexibilityHg,nanSen.`nan` nanSensitivesHg, nvSen.nv nvSensitivesHg,
            nanIbm.`nan` nanIbmHg ,nvIbm.nv nvIbmHg

            FROM (

            (SELECT
                count( 1 ) as nan
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
             <where>
                AND i.sex = 1
                AND a.sex = 1
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nan,

                (SELECT
                count( 1 ) AS nv
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                AND i.sex = 2
                AND a.sex = 2
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nv,

            (SELECT
                count( 1 ) as nan
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                AND i.sex = 1
                AND a.sex = 1
                AND i.height > a.height_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
        ) nanHg,
            (SELECT
                count( 1 ) AS nv
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                AND i.sex = 2
                AND a.sex = 2
                AND i.height > a.height_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nvHg,

            (SELECT
                count( 1 ) as nan
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
         <where>
                and i.sex = 1
                AND a.sex = 1
                AND i.fei_hl > a.fei_hl_avg
                 <if test="start != null  ">
                     AND i.age <![CDATA[  >=  ]]> #{start}
                 </if>
                 <if test="end != null  ">
                     AND i.age <![CDATA[  <=  ]]> #{end}
                 </if>
         </where>
                ) nanFhl,

            (SELECT
                count( 1 ) AS nv
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                 and i.sex = 2
                AND a.sex = 2
                AND i.fei_hl > a.fei_hl_avg
                <if test="start != null ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nvFhl,

                (SELECT
                count( 1 ) as nan
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                 and i.sex = 1
                AND a.sex = 1
                AND i.tiaos > a.tiaos_avg
                <if test="start != null ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nanTs,

            (SELECT
                count( 1 ) AS nv
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                 and i.sex = 2
                AND a.sex = 2
                AND i.tiaos > a.tiaos_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nvTs,


                (SELECT
                count( 1 ) as nan
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                and i.sex = 1
                AND a.sex = 1
                AND i.flexibility > a.flexibility_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nanFle,

            (SELECT
                count( 1 ) AS nv
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                 and i.sex = 2
                AND a.sex = 2
                AND i.flexibility > a.flexibility_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nvFle,


                (SELECT
                count( 1 ) as nan
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                 and i.sex = 1
                AND a.sex = 1
                AND i.sensitives > a.sensitive_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nanSen,

            (SELECT
                count( 1 ) AS nv
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                and i.sex = 2
                AND a.sex = 2
                AND i.sensitives > a.sensitive_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nvSen,


                (SELECT
                count( 1 ) as nan
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                and i.sex = 1
                AND a.sex = 1
                AND i.ibm > a.ibm_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nanIbm,

            (SELECT
                count( 1 ) AS nv
            FROM
                xx_item i
                LEFT JOIN xx_avg a ON i.age = a.age
            <where>
                and i.sex = 2
                AND a.sex = 2
                AND i.ibm > a.ibm_avg
                <if test="start != null  ">
                    AND i.age <![CDATA[  >=  ]]> #{start}
                </if>
                <if test="end != null  ">
                    AND i.age <![CDATA[  <=  ]]> #{end}
                </if>
            </where>
                ) nvIbm

                )

    </select>



</mapper>
