<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.dd.common.mapper.sport.ZsInfoMapper">

    <select id="getPage" resultType="com.cp.dd.common.entity.sport.ZsInfo">

        SELECT zi.* FROM zs_info zi

        <where>
            <if test="name != null and name !='' ">
                AND zi.`name` like concat('%',#{name},'%')
            </if>
            <if test="code != null and code !='' ">
                AND zi.code = #{code}
            </if>
            <if test="deptName != null and deptName !='' ">
                AND zi.dept_name = #{deptName}
            </if>
            <if test="areaId != null and areaId !='' ">
                AND zi.area_id = #{areaId}
            </if>

            <if test="categoryType != null and categoryType !='' ">
                AND zi.category_type = #{categoryType}
            </if>
            <if test="categoryId != null  ">
                AND zi.category_id = #{categoryId}
            </if>

            AND zi.status =1
            and zi.audit_status =1
        </where>
            order by zi.create_time desc

    </select>


    <select id="getAuditPage" resultType="com.cp.dd.common.vo.zs.ZsPersonalVO">

        SELECT zi.*,zs.name categoryName FROM zs_personal zi
        left  join zs_category zs on zi.category_id =zs.id

        <where>
            <if test="name != null and name !='' ">
                AND zi.`name`  like concat('%',#{name},'%')
            </if>
            <if test="code != null and code !='' ">
                AND zi.code = #{code}
            </if>
            <if test="deptName != null and deptName !='' ">
                AND zi.dept_name = #{deptName}
            </if>
              <if test="auditStatus != null  ">
                AND zi.audit_status = #{auditStatus}
            </if>
            <if test="shortCode != null and shortCode !='' ">
                AND zi.short_code like concat('',#{shortCode},'%')
            </if>
        </where>
        order by zi.create_time desc

    </select>


    <select id="getAppList" resultType="com.cp.dd.common.entity.sport.ZsInfo">

        SELECT zi.* FROM zs_info zi

        <where>
            <if test="name != null and name !='' ">
                AND zi.`name`  = #{name}
            </if>
            <if test="code != null and code !='' ">
                AND zi.code = #{code}
            </if>
            <if test="deptName != null and deptName !='' ">
                AND zi.dept_name = #{deptName}
            </if>
            AND zi.status =1
            and zi.audit_status =1
        </where>
        order by zi.create_time desc

    </select>



    <select id="countInfo" resultType="com.cp.dd.common.vo.sport.ZsInfoCountVO">

       select count(*) total,category_id ,zs.name  categoryName from zs_personal z ,zs_category zs
        <where>
            <if test="areaId != null and areaId !='' ">
                AND z.area_id = #{areaId}
            </if>
        and  z.category_id = zs.id
        and z.status =1
        </where>
        group by z.category_id

    </select>

    <select id="countArea" resultType="com.cp.dd.common.vo.sport.ZsInfoAreaCountVO">

                     select aa.a east,bb.b northWest,cc.c south,dd.d north from (

    (select count(*) a from zs_info
        <where>
            <if test="areaId != null and areaId !='' ">
                AND area_id = #{areaId}
            </if>
            and area_id = 26
            and status =1
            and audit_status =1
        </where>
            ) aa
         ,
        ( select count(*) b from zs_info

        <where>
            <if test="areaId != null and areaId !='' ">
                AND area_id = #{areaId}
            </if>
            and area_id = 27
            and status =1
            and audit_status =1
        </where>
            ) bb
         ,
        ( select count(*) c from zs_info

        <where>
            <if test="areaId != null and areaId !='' ">
                AND area_id = #{areaId}
            </if>
            and area_id = 28
            and status =1
            and audit_status =1
        </where>
            ) cc
         ,
         (select count(*) d from zs_info

        <where>
            <if test="areaId != null and areaId !='' ">
                AND area_id = #{areaId}
            </if>
            and area_id = 29
            and status =1
            and audit_status =1
        </where>
            ) dd )


    </select>

    <select id="countLx" resultType="com.cp.dd.common.vo.sport.ZsInfoLsCountVO">
        select  aa.a addInfo,bb.b reduceInfo from ((select count(*) a from zs_info where  YEAR ( create_time ) = #{year}) aa ,

        (select count(*) b from zs_info where  YEAR ( sx_time ) = #{year}
        and sx_time <![CDATA[ < ]]> now() ) bb
        )

    </select>


</mapper>
